<h2>WELCOME TO MINESWEEPER</h2>
<div class="game-page__content">
  <div class="game-page__content--left">
    <div class="game-page__content--header">
      <div class="game-page__timer" aria-label="Elapsed time: {{elapsedTime}}">
        <span aria-hidden="true">{{elapsedTime}}</span>
      </div>
      <button aria-label="{{restartButtonLabel}}"
        class="focusable game-page__reset-btn {{restartButtonClass}}" {{action 'restartGame'}}>
      </button>
      <div class="game-page__mines-count" aria-label="{{minesCount}} mines">
        <span aria-hidden="true">{{minesCount}}</span>
      </div>
    </div>
    <div class="game-page__content--body">
      {{grid-cells
        gameStatus=gameStatus
        gameLevel=gameLevel
        gridCells=gridCells
        gridCellClicked='gridCellClicked'}}
    </div>
  </div>

  <div class="game-page__content--right">
    <section class="game-page__level-switcher">
      {{level-switcher switchLevel='switchLevel'}}
    </section>
    <section class="game-page__instruction game-page__instruction--mouse">
      <h2>Mouse users</h2>
      <p>Left click - reveal the cell</p>
      <p>Right click - flag the cell</p>
    </section>

    <section class="game-page__instruction game-page__instruction--keyboard">
      <h2>Keyboard Shortcuts</h2>
      <p>Enter - reveal the cell</p>
      <p>Alt + Enter - flag the cell</p>
      <p>Alt + s - restart the game</p>
      <p>Arrow key up - Move to upper cell</p>
      <p>Arrow key left - move to left cell</p>
      <p>Arrow key right - move to right cell</p>
      <p>Arrow key down - move to lower cell</p>
    </section>

    <section class="game-page__instruction game-page__instruction--legends">
      <h2>Legends</h2>
      <p>Number - number of cell neighbors that have mine</p>
      <p>F - cell has been flagged</p>
    </section>
  </div>
</div>
